/* 
    Created on : 14 May, 2016, 4:25:32 PM
    Author     : anurag
*/

@font-face {
    font-family: "als_script";
    src: url("/static/font/als-script/alsscrp.ttf") format('truetype');
}
@font-face {
    font-family: "helvetica_light";
    src: url("/static/font/helveticaneue/HelveticaNeue Light.ttf") format('truetype');
}
@font-face {
    font-family: "chopin_script";
    src: url("/static/font/chopin-script/ChopinScript.ttf") format('truetype');
}
@font-face {
    font-family: "janda";
    src: url("/static/font/janda-elegant-handwriting/JandaElegantHandwriting.ttf") format('truetype');
}

body {
    background-color: whitesmoke;
    background: url("/static/img/bg_2.jpg") no-repeat;
    background-size: cover;
}

/*Specific to single page view*/

.single-page {
    margin: 20px;
}

#student-name {
    font-family: "chopin_script";
    display: inline-block;
    font-weight: bold;
    font-size: 64px;
    color: black;
    padding: 10px;
}

#student-profile-picture {
    background-color: black;
    display: inline-block;
    padding: 10px;
    box-shadow: 1px 1px 2px gray;
}

#student-profile-picture img {
    height: 120px;
}

#student-quote {
    font-family: "chopin_script";
    font-style: italic;
    color: #666666;
    font-size: 32px;
    padding: 10px;
}

#student-about {
    font-family: "chopin_script";
    font-size: 32px;
    color: black;
    padding: 10px;
}

#student-social-links {
    font-family: "helvetica_light";
    font-size: 20px;
    padding: 10px;
}
#student-social-links a {
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    margin-right: 4px;
    color: gray;
    transition-duration: 0.3s;
    padding: 10px;
}
#student-social-links a[data-domain=Facebook]:hover {
    border-radius: 4px;
    background-color: #3b5998;
    color: white;
}
#student-social-links a[data-domain=Twitter]:hover {
    border-radius: 4px;
    background-color: #1da1f2;
    color: white;
}

.group {
    padding: 10px;
}

.group * {
    vertical-align: middle;
}

/* This is styling for edit page. Not used anymore */
input#student-name {
    background-color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

textarea#student-quote, textarea#student-about {
    background-color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    resize: vertical;
}

/* End of this section */

.editable {
    transition-duration: 0.3s;
}

.editable:hover {
    color: white;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    cursor: url("/static/img/pencil.png"), default;
}

/* Some UI stuff now */

.modal-dialog {
    border-radius: 0;
    top: 20vh;
}

.modal input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.modal textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    resize: vertical;
}

.modal-header h4 {
    text-align: center;
}

#prompt-text .modal-content {
    width: 400px;
}

#alert .modal-content {
    width: 400px;
}

#alert p {
    text-align: center;
}

/* Toolbar stuff */

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 5px 5px 5px 10px;
    border-radius: 0 0 0 10px;
}

.toolbar a {
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    cursor: pointer;
}