/* 
    Created on : 14 May, 2016, 4:25:32 PM
    Author     : anurag
*/

@font-face {
    font-family: "als_script";
    src: url("/static/font/als-script/alsscrp.ttf") format('truetype');
}
@font-face {
    font-family: "helvetica_light";
    src: url("/static/font/helveticaneue/HelveticaNeue Light.ttf") format('truetype');
}
@font-face {
    font-family: "chopin_script";
    src: url("/static/font/chopin-script/ChopinScript.ttf") format('truetype');
}
@font-face {
    font-family: "janda";
    src: url("/static/font/janda-elegant-handwriting/JandaElegantHandwriting.ttf") format('truetype');
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

/*Specific to single page view*/

.single-page {
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.group {
    padding: 10px;
}

.group * {
    vertical-align: middle;
}

/* End of this section */

.editable {
    transition-duration: 0.3s;
}

.editable:hover {
    color: white;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    cursor: url("/static/img/pencil.png"), default;
}

/* Some UI stuff now */

.modal-dialog {
    border-radius: 0;
    top: 20vh;
}

.modal input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.modal textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    resize: vertical;
}

.modal-header h4 {
    text-align: center;
}

#prompt-text .modal-content {
    width: 400px;
}

#alert .modal-content {
    width: 400px;
}

#alert p {
    text-align: center;
}

/* Toolbar stuff */

.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 5px 5px 5px 10px;
    border-radius: 0 0 0 10px;
}

.toolbar a {
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    cursor: pointer;
}